<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Start:</strong>
  <%= @event.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @event.end %>
</p>

<p>
  <strong>Allday:</strong>
  <%= @event.allDay %>
</p>

<p>
  <strong>User name:</strong>
  <%= @event.user_name %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Close', '_self', :onclick=>'window.opener.location.reload();window.close();' %> |
<!--%= link_to 'Delete', event_path(@event), :method => :delete, :onclick=>'window.opener.location.reload();window.close();' %-->
<%= link_to 'Delete', event_path(@event), :method => :delete, data: { confirm: "You sure?" } %>