<!--子ウインドウの閉じ方は、子ウインドウで勝手に閉じる方法と、親ウインドウで閉じる方法がある。-->
<!--ここでは、子ウインドウが勝手に閉じる実装をしている。-->
<script>
var pwin=window.opener;
pwin.location.reload();
pwin.focus();
window.close();
</script>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Start:</strong>
  <%= @event.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @event.end %>
</p>

<p>
  <strong>Allday:</strong>
  <%= @event.allDay %>
</p>

<p>
  <strong>User name:</strong>
  <%= @event.user_name %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
